<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>James Keller Driving School</title>
	<atom:link href="http://theme.drivingschoolwebsite.org/feed/" rel="self" type="application/rss+xml" />
	<link>http://theme.drivingschoolwebsite.org</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Wed, 12 Apr 2017 07:11:49 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	
	<item>
		<title>Hello world!</title>
		<link>http://theme.drivingschoolwebsite.org/hello-world/</link>
					<comments>http://theme.drivingschoolwebsite.org/hello-world/#comments</comments>
		
		<dc:creator><![CDATA[newtm@@111]]></dc:creator>
		<pubDate>Wed, 12 Apr 2017 07:11:49 +0000</pubDate>
				<category><![CDATA[Uncategorized]]></category>
		<guid isPermaLink="false">http://theme.drivingschoolwebsite.org/?p=1</guid>

					<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
										<content:encoded><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
					
					<wfw:commentRss>http://theme.drivingschoolwebsite.org/hello-world/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
