<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments for James Keller Driving School	</title>
	<atom:link href="http://theme.drivingschoolwebsite.org/comments/feed/" rel="self" type="application/rss+xml" />
	<link>http://theme.drivingschoolwebsite.org</link>
	<description>Just another WordPress site</description>
	<lastBuildDate>Wed, 12 Apr 2017 07:11:49 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	
	<item>
		<title>
		Comment on Hello world! by A WordPress Commenter		</title>
		<link>http://theme.drivingschoolwebsite.org/hello-world/#comment-1</link>

		<dc:creator><![CDATA[A WordPress Commenter]]></dc:creator>
		<pubDate>Wed, 12 Apr 2017 07:11:49 +0000</pubDate>
		<guid isPermaLink="false">http://theme.drivingschoolwebsite.org/?p=1#comment-1</guid>

					<description><![CDATA[Hi, this is a comment.
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.
Commenter avatars come from &lt;a href=&quot;https://gravatar.com&quot;&gt;Gravatar&lt;/a&gt;.]]></description>
			<content:encoded><![CDATA[<p>Hi, this is a comment.<br />
To get started with moderating, editing, and deleting comments, please visit the Comments screen in the dashboard.<br />
Commenter avatars come from <a href="https://gravatar.com">Gravatar</a>.</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
